body {
	background-color: rgb(31, 31, 31);
	color: #700;
}

.carousel {
	margin-bottom: 1.5rem;
	margin: auto;
	display: flex;
}

#pwb-carousel-bg {
	background-color: #390;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
	text-align: left;
	width: 30%;
	bottom: 1.5rem;
	margin-bottom: 5.75rem;
	margin-left: 8rem;
	z-index: 10;
}

/*  Declare heights because of positioning of img element */
.carousel-item {
	margin-top: 3rem;
	height: 32rem;
	background-color: #363636;
}
.carousel-item > img {
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 32rem;
}
.carousel-item .col-md-5 svg {
	margin-right: 0.75rem;
	margin-left: 5rem;
}

.marketing .col-lg-4 {
	margin-top: 2rem;
	margin-bottom: 1.5rem;
	text-align: center;
}
.marketing h2 {
	font-weight: 400;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
	margin-right: 0.75rem;
	margin-left: 0.75rem;
}
